.noDataFoundSectionMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  .imageWrapper {
    width: 20%;
  }

  label {
    font-size: 18px;
    color: var(--tertiary-color);
  }
}