input,
select,
textarea {
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  padding: 10px 16px;
  background-color: inherit;
  font-weight: normal;
  font-size: 15px !important;
  line-height: 19px !important;
  outline: none;
  width: 100%;
  color: var(--text-color);

  &:placeholder {
    color: var(--tertiary-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus,
  &:hover {
    border-color: var(--tertiary-color);
  }

  &.error {
    border: 1px solid var(--error-color);
  }

}

.form-control-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control-label {
  font-size: 15px;
  margin-bottom: 6px;
}

.form-error-message {
  color: var(--error-color);
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.6px;
}