@import '@/styles/mediaQuery.scss';

#adminDashboardMain {
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.2px;
    }

    .createNewControl {
      width: 150px;
    }
  }

  .paginationFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;

    .paginationControl {
      width: 35px;
      height: 35px;
      color: var(--primary-color);
      background-color: var(--secondary-color);
      outline: none;
      border: none;
      border-radius: 35px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .paginationLabel {
      font-size: 14px;
      color: var(--tertiary-color);

      .pageCount {
        color: var(--text-color);
      }
    }
  }

  .searchBarContainer {
    width: 25%;
    display: flex;
    align-items: center;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    padding-right: 14px;

    .searchBarInput {
      border: none;
    }

    .searchControl {
      background-color: inherit;
      border: none;
      outline: none;
      color: var(--primary-color);
    }
  }

  .confirmationFormsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
  }
}

@include medium-screen {
  #adminDashboardMain {
    .confirmationFormsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mini-screen {
  #adminDashboardMain {
    padding: 30px 40px;

    .searchBarContainer {
      width: 50%;
    }

    .confirmationFormsContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@include small-screen {
  #adminDashboardMain {
    padding: 30px 20px;

    .searchBarContainer {
      width: 100%;
    }

    .paginationFooter {
      justify-content: center;
    }
  }
}